<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <context:annotation-config/> <!-- This is important so that CompactDiscConfig class can be recognized as a Java Configuration-->
    <bean class="joining_configuration_xml.CompactDiscConfig"/>
    <import resource="mediaPlayerConfig.xml"/>
</beans>
