<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="audience"
          class="aspect.xml.simple_parameterless.Audience"/>
    <bean class="aspect.xml.simple_parameterless.Yusuf"/>
    <aop:config>
        <aop:pointcut
                expression="execution(* aspect.xml.simple_parameterless.Performance.perform())"
                id="performance"/>
        <aop:aspect ref="audience">
            <aop:before pointcut-ref="performance"
                        method="silenceMobilePhones"/>

            <aop:before pointcut-ref="performance" method="takeSeats"/>
            <aop:after pointcut-ref="performance" method="showIsOver"/>
            <aop:after-returning pointcut-ref="performance"
                                 method="applaud"/>
            <aop:after-throwing pointcut-ref="performance"
                                method="refund"/>
        </aop:aspect>
    </aop:config>
</beans>
